body{
  background-color: #17162E;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
}

main{
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

#search{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main>h1{
  font-size: 36px;
  font-weight: 600;
}

#search_bar{
  background: rgba(255, 255, 255, 0.2);
  border: none;
  height: 74px;
  width: 634px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  padding: 28px 24px 28px 24px;
}

#search_input{
  background: none;
  border: none;
  width: 100%;
  outline: none;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

#search_bar img{
  width: 20px;
  height: 20px;
}

.favorites-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;

}

.favorites-checkbox label{
  font-size: 18px;
  font-weight: 600;
}

#favorites_only{
  opacity: 0;
}

#favorites_only + label{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
}

#favorites_only + label::before{
  content: "";
  position: absolute;
  outline: 2px solid #706EA8;
  background: none;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 2px;

}

#favorites_only:checked + label::before{
  content: "";
  position: absolute;
  outline: 2px solid #706EA8;
  background: #706EA8;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 2px;

}

#favorites_only:checked + label::after{
  content: "";
  position: absolute;

  background-image: url('/assets/images/white-check.png');
  background-size: 17px;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 2px;

}

#movies{
  width: 1222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-bottom: 62px;
  

}

.movie-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1D1C3B;
  padding: 24px 48px 24px 48px;
  border-radius: 10px;
  gap: 126px;
  box-shadow: 12px 6px 20px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;

}

.movie-item-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.movie-item-info>img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 12px 6px 12px 4px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.movie-item-text{
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ACACAC;
  line-height: 177%;
}

.movie-item-title{
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avaliation{
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: center;
}

.grade{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grade span{
  font-weight: 300;
}

.star{
  width: 19px;
  height: 19px;
  margin-bottom: 2px;
}

.heart{
  width: 21px;
  height: 21px;
  transition: all .3s;
}

.heart:hover{
  transform: scale(1.1);
}

#set_favorite{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#set_favorite span{
  font-size: 18px;
  font-weight: 300;
}
